/* p_loding.css */

@media all and (min-width:320px) and (max-width:479px){

#wrap{width:100%; height:100%;}

.languageList{display: none;}

/* ================================== */

#lodingBox{
  position: relative;
  width:100%; height:86%;
  padding-top: 50px;
  box-sizing: border-box;
}

h1{text-align: center; font-size:1.8rem; margin-bottom: 30px; color:#aaa;}
h1 > span {color:#333;}


/* 로딩 구현 */
.load_gif{
  width:150px; height:60px;
  margin:auto;
  background-image: url(../../img/image/loading.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

#timer {
  width:100%; height:auto;
  font-size:1.8rem;
  font-weight: bold;
  color:#36709c; text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tipBox {
  width:90%; height:200px;
  margin:auto;
  background-color: #eee;
  overflow: hidden;
}
  .tipBox ul{width:calc(100% * 4); animation:slide 8s infinite;} 
  .tipBox li{width:calc(100% / 4); float:left; height:300px;}
  .tipBox li:nth-child(1){background:#54b36e;}
  .tipBox li:nth-child(2){background:#007a88;}
  .tipBox li:nth-child(3){background:#4a98d3;}

  @keyframes slide {
    0%  {margin-left:0;} /* 0 ~ 10  : 정지 */
    20% {margin-left:0;} /* 10 ~ 25 : 변이 */
    33% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
    50% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
    66% {margin-left:-200%;}
    85% {margin-left:-200%;}
    100% {margin-left:0;}
  }


#test{
  position: absolute;
  bottom:5%;
  width:100%; height: 0;
  margin-top:50px; text-align: center; 
  color:#eee;}

}