/* p_matching.css */

@media all and (min-width:320px) and (max-width:479px){

#wrap{width:100%; height:100%;}

/* ================================== */

#matchBox{
  position: relative;
  width:100%; height:86%;
}

  /* ---------- match_list ------------ */
  .match_list{
    width:100%; height:200px;
    border-bottom: 10px solid #f5f6f7;
    padding:15px 20px; box-sizing: border-box;
    font-size:1rem;
  }

  .match_list > ul {width:100%; height:100%;}
  .match_list > ul > li {width:100%; height:40px;}

  .match_list > ul > li > dl {width:100%; height:100%; line-height: 40px;}
  .match_list > ul > li > dl > dt {float:left; width:40%; height:100%; padding-left: 20px; box-sizing: border-box; color:#aaa;}
  .match_list > ul > li > dl > dd {float:right; width:60%; height:100%; text-align:right; padding-right: 20px; box-sizing: border-box;}
  .match_list > ul > li:last-child > dl > dd{font-size:0.8rem;}
  
  /* ---------- cash_list ------------ */
  .cash_list{
    width:100%; height:170px;
    border-bottom: 10px solid #f5f6f7;
    padding:15px 20px; box-sizing: border-box;
    font-size: 1rem;
  }

  .cash_list > ul {width:100%; height:100%;}
  .cash_list > ul > li {width:100%; height:40px;}

  .cash_list > ul > li > dl {width:100%; height:100%; line-height: 40px;}
  .cash_list > ul > li > dl > dt {float:left; width:40%; height:100%; padding-left: 20px; box-sizing: border-box; color:#aaa;}
  .cash_list > ul > li > dl > dd {float:right; width:60%; height:100%; text-align:right; padding-right: 20px; box-sizing: border-box;}


  /* ---------- match_guide ------------ */
    .match_guide{
      margin-top:40px;
      width:100%; height:auto;
      text-align: center;
      color:#f00;
    }

    .match_agree{
      width:250px; height:auto;
      margin:auto; margin-top: 60px;
    }
    
    button{width:120px; height:40px;}

  }